(
  axes: {
    "left_right": Emulated(pos: Key(D), neg: Key(A)),
    "up_down": Emulated(pos: Key(S), neg: Key(W)),
    "shoot_left_right": Emulated(pos: Key(Left), neg: Key(Right)),
    "shoot_up_down": Emulated(pos: Key(Up), neg: Key(Down)),
  },
  actions: {},
)